- if notice
  %aside#notice= notice

%h2 Your Pragmatic Panda Cart
%table
  %thead
    %th Qty
    %th Title
    %th Unit price
    %th Amount
  - @cart.line_items.each do |item|
    %tr
      %td.quantity= item.quantity
      %td.title= item.product.title
      %td.price= number_to_currency(item.price)
      %td.price= number_to_currency(item.total_price)
  %tfoot
    %th{colspan: 3} Total:
    %th.price= number_to_currency(@cart.total_price)

= button_to "Empty cart", @cart, method: :delete, data: {confirm: "Are you sure?"}
